{%extends "base.html">

{%block content%}
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
</html>'}
<html>
  <body>

    <ul class="nav nav-tabs">
      <li ><a href="/">Principal</a></li>
      <li><a href="/alojamientos">Alojamientos</a></li>
      <li><a href="/about">About</a></li>

    </ul>
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-body">
            <h3> Has selecionado el hotel : {{title}}</h3>
        </div>
      </div>
    </div>
  </body>
</html>
{%endblock%}
