{%extends "base.html" %}

{%block content%}

    <div class"col-md-9 well well-sm">
      <h3> Nombre : {{ name }}</h3>
      <li> Nombre <a href= "{{ url }}">{{name}}</a></li>
      <li>Dirección : {{ address }}</li>
      <li> Tipo de Alojamiento : {{type}}</li>
      <li> Estellas : {{stars}}</li>
  </div>
      <div class="row">
          {% for h in lista %}

              <img class="img-thumbnail thumbnail col-md-3" src="{{ h.url_I}}"></img>

        {% endfor %}
      </div>
    <div class="col-md-12">
      <li>{{ body |safe }}</li>
    </div>
    <div>
        {% if autenticado %}
          <h3> Escribe un comentario </h3>
          <form action="/comentario/{{hotel.id}}" method="post" accept-charset="utf-8">
            {% csrf_token %}
          <textarea name="comentarios" rows="3" cols="40">Escribe aquí tus comentarios</textarea>
          <p><input type="submit" value="Enviar" ></p>
        </form>
        <a href="{{traduccioningles}}"> Traduccir a Inglés </a>
        <a href="{{ traduccionfrances }}"> Traducir a Francés </a>
      {% endif %}
    </div>
  <div class="row">
    <div class="col-md-12 well well-sm panel panel-default">
      <div class="panel-body">
        <h3> Comentarios: </h3>

          {% for h in comentarios %}
            <p>Introducido por {{h.usuario}} el día {{h.fecha}} -> {{ h.contenido }}</li> </p>


          {% for h in listacomment %}
            <p> <li>{{ h.contenido }}</li> </p>

          {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>
  </body>
</html>

{%endblock%}
