{%extends "base.html" %}

{%block content%}
<html>
  <head>


      {% if user.is_authenticated and usuario == request.user.username %}
      <h2> Pagina privada de {{ usuario }}</h2>



        <form action="" method="post" accept-charset="utf-8">
          {% csrf_token %}
          Escribe un color de fondo
          <input type="text" name="css" value=""></input>
          Escribe un tamaño de la fuente
          <input type="text" name="size" value=""></input>
          Escribe un titulo para la página
          <input type="text" name="titulo" value=""></input>
          <p><input type="submit" value="Send →"></p>
      </form>
      {%else%}
      <h2> Para acceder a este contenido tienes que estar autenticado </h2>
    {% endif %}
    </div>
  </div>
  <div class="row">
    <div class"col-md-12 well well-sm">
      {% for h in selecion %}
      {%if user%}
          <h3>{{h.hotel.nombre}}</h3>
          <li>Direccion : {{h.hotel.nombre}}</li>
          <li>Estrellas : {{h.hotel.estrellas}}</li>

          <li><a href="/alojamientos/{{ h.hotel.id }}">Más información </a></li>
      {%else%}
          <h2>No hay hoteles seleccionados por {{h.usuario}}</h2>
      {%endif%}
      {% endfor %}
      <br></br>
    </div>
  </div>
</div>
  </body>
</html>

  {%endblock%}
