{%extends "base.html" %}

{%block content%}
<html>
<body>
      <div class = "content">
        <div class="left" style="width:400px">
          <ul>
            <h2 style="color: #FF133"> Información de la página </h2>
              <li><p>Interfaz pública: para todos los User</p></li>
              <li>Página principal: muestra los 10 alojamientos con más comentarios y  un listado con las paginas personales.</li>
              <li>Pagina personal de usuario: muestra los alojamientos seleccionadas por el usuario.</li>
              <li>Alojamientos: muestra todas los alojamientos disponibles. Permite filtrarlas por dos campos.</li>
              <li>Cada alojamiento tiene su página con información más detallada.</li>
              <li>Además cada alojamiento tiene un enlace a su página correspondiente del Ayuntamiento de Madrid </li>
              <li>Interfaz privada: solo para usuarios registrados .  </li>

              <p>'Permite todas las funcionalidades de Interfaz pública y :'

                  <li>Seleccionar actividades en la pagina "todas" para su página personal.</li>'
                  <li>Permite modificar varios aspectos de la página web, como el estilo o el título de su página personal.</li>


            </div>
        </div>
    </body>
  </html>
{%endblock%}
