<!DOCTYPE html>

<html>
  <head>
    <meta charset='utf-8' />
    {% load staticfiles %}
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
      body{
        background-color: {{ color }}
      }
      body{
        font-size: {{size}}
      }
    </style>
  </head>

<body>
<div id="header">
  <img src="https://www.europcar.es/files/live/sites/seo/files/contributed/images/location%20images/corporate%20countries/Spain/Madrid-2-1160x400.jpg"></img>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a href="/">Principal</a></li>
  <li><a href="/alojamientos">Alojamientos</a></li>
  <li><a href="/about">About</a></li>

</ul>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
      <div class="panel panel-default"  id = "login">
        <div class="panel-body" >
          {% if autenticado %}
            <h3> Bienvenido  {{ user }}</h3>
            <a href='/accounts/logout'>Logout</a><br>
            {% else %}


            <form method="post" action="{% url 'django.contrib.auth.views.login' %}?next={{ request.GET.next }}">
            {% csrf_token %}

            <p>
              <label for="username"> Nombre de usario : </label>
              <input type="text" name = "username" value="" id="username">
              <br></br>
              <label for="password"> Password : </label>
              <input type="password" name="password" value="" id="password">

              <input type="submit" value="login" />
              <table>


              </p>
            </form>


            {% endif%}
          </div>
        </div>
      </div>

      <ul>
        {% for h in listausers %}
          {% if h.titulo_pagina == condicion %}
            <li align=right><a href= "{{ h.user }}">Pagina de {{ h.user }}</a></li>
          {% else %}
          <li ><a href= "{{ h.user }}">Pagina de {{ h.username }}</a></li>
          {% endif %}
      {% endfor %}
    </ul>


  <div clas="row">
  <div class="well well-sm panel panel-default col-md-12" id="listhotels">
    <div class="panel-body">
    <ul>
      {% for h in lista %}
          <li><a href= "{{ h.url }}">{{h.nombre}}</a></li>
          <li>{{ h.direccion }}</li>
          <li>Identificador de la aplicacion :{{h.id}}</li>



            <img src="{{ h.urlimagen}}"></img>


          <li><a href="alojamientos/{{h.id}}">Más información </li>
      {% endfor %}
  </ul>
  </div>
  </div>
    <a href="more"> Más </a>
</div>
</div>
<footer> <p>Copyright . Esta aplicacion utiliza datos del portal de datos abierto de la ciudad de Madrid <a href="http://www.esmadrid.com/opendata/alojamientos_v1_es.xml"> Datos XML</a></p> </footer>
<footer> <p><a href="http://bit.ly/1T24Zsq">Descripción de los datos</a></p></footer>
  </body>
</html>
